#-------------------------------------------------#
# Folders to Ignore
#-------------------------------------------------#
Belt Exam (HTML+CSS)  - Option D/
Helpful Material and Resources/
__pycache__
#--------- From CSS ------------------------------#
Flex Navbar/
Plotting Your Blocks/
#--------- From Git ------------------------------#
Assignment VI Portfolio/
#--------- From HTML -----------------------------#
Fake Blog/
My Registration Form/
PCS_Assignment/
#--------- From Javascript -----------------------#
Basic Foundation I/
Basic Function I/
#--------- From JQuery -----------------------------#
jQuery/
#--------- From HTML -----------------------------#






#-------------------------------------------------#
# File to Ignore
#-------------------------------------------------#
Belt Exam (HTML+CSS)  - Option D.zip