#-------------------------------------------------#
# Folders to Ignore
#-------------------------------------------------#
Belt Exam (HTML+CSS)  - Option D/
Helpful Material and Resources/




#-------------------------------------------------#
# File to Ignore
#-------------------------------------------------#
Belt Exam (HTML+CSS)  - Option D.zip